.account {
    padding: 100px;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
}

.mat-icon {
    vertical-align: middle;
 }

.toolbar {
    position: fixed;
    z-index: 2;
    width: 100%;    
} 