<div class="toolbar" *ngIf="isComponentShown">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="content">
            <div fxShow="true" fxHide.lt-md="true">
                <span>DockerJenkinsAngular</span>
                <span class="example-spacer"></span>
            </div>
            <div fxShow="true" fxHide.lt-md="true">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <div>
                    <a mat-button [routerLink]="'home'">
                        <mat-icon>home</mat-icon>
                        Home
                    </a>
                    <a mat-button [routerLink]="'check-box'">
                        <mat-icon>check_circle</mat-icon>
                        Check-boxes
                    </a>
                    <a mat-button [routerLink]="'input'">
                        <mat-icon>text_fields</mat-icon>
                        Input fields
                    </a>
                    <a mat-button [routerLink]="'drop-down'">
                        <mat-icon>arrow_drop_down_circle</mat-icon>
                        Drop-downs
                    </a>
                    <a mat-button [routerLink]="'radio-button'">
                        <mat-icon>radio_button_checked</mat-icon>
                        Radio-buttons
                    </a>
                    <a mat-button [routerLink]="'table'">
                        <mat-icon>table_chart</mat-icon>
                        Table
                    </a>
                    <a mat-button [routerLink]="'toggle'">
                        <mat-icon>share</mat-icon>
                        Toggles
                    </a>
                    <a mat-button [routerLink]="'date-picker'">
                        <mat-icon>date_range</mat-icon>
                        Date pickers
                    </a>
                    <a mat-button [routerLink]="'end-to-end'">
                        <mat-icon>trending_up</mat-icon>
                        E2E scenario
                        <mat-icon>trending_down</mat-icon>
                    </a>
                </div>
            </div>
            <div class="account">
                <mat-menu #appMenu="matMenu">
                    <ng-template matMenuContent let-name="name">
                        <button mat-menu-item id="settingsBtn">
                            Settings
                            <mat-icon>settings</mat-icon>
                        </button>
                        <button (click)="SignOut()" mat-menu-item id="signOutBtn">
                            Log off
                            <mat-icon>work_off</mat-icon>
                        </button>
                    </ng-template>
                </mat-menu>
                <button id="appMenu" mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon md-36>account_circle</mat-icon>
                    <mat-label>{{ userName }}</mat-label>
                </button>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row class="content">
            <span style="font-size: 12px;">Simple website designed for Docker practice</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>