.content{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 7%;
    padding-bottom: 2%;
    background-image: url('../assets/images/anderson-rian-unsplash.jpg');
    background-size: cover;
}